<div class="container">
<% if user_signed_in? %>

<h1> You are logged in my dear <%= current_user.email %> </h1>

<p> <%= link_to "Sign out", destroy_user_session_path, method: :delete  %> </p>

<% else %>

<div class="center jumbotron">
  <h1>Bienvenue à toi cher Moussaillon !</h1>
  <h3>Clique sur le bouton pour t'enregistrer</h3>
  <%= link_to "Pour se connecter", new_user_session_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Pour s'enregistrer", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>
</div>