/*@import "bootstrap-sprockets";
@import "bootstrap";*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.left {
  background-color: #1469C9;
  width: 55%;
  height: 100%;
  color: white;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1, h5, p { 
  padding-left: 55px;
  font-family: verdana;
}

h1 {
  font-size: 40px;
}

#greenline {
  color: #3DE805;
}

.right {
   background-color: #FFFFFF;
   width: 45%;
   height: 100%;
   float: right;
   font-family: verdana;
}

.topright {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 83%;
}

.bottomright {
  background-color: #AAADAD;
  width: 100%;
  height: 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
}

.instructions {
  font-family: verdana;
  color: black;
  text-align: left;
}

.input {
  font-family: verdana;
  border: 1px dotted #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 75%;
  padding: 16px 16px;

}

.submit-button {
  background-color: #1469C9;
  color: white;
  padding: 16px 0px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  font-family: verdana;
}

.connect-button {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}

.connect-button:hover {
  text-decoration: underline;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

